---
---

// Font.
$font: (
  primary: ("Nunito Sans",sans-serif)
);

// Palette.
$palette: (
  primary:           #1f3a62,
  secondary:           darken(#1f3a62, 15%),
  meta:                lighten(#1f3a62, 20%),
  border:              lighten(#1f3a62, 58%),
  bg:                #f7f9fb,
  accent:            #05fda2,
  accent-alt:        #33d9cb,
  accent-purple:     #c6cbff,
  accent-purple-alt: #e0e6e8,
  accent-green:      #006c12,
  accent-green-alt:  #04fd95,
  accent-orange:     #fb7238,
  accent-orange-alt: #bf2e26
);

@import "imports/functions";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/posts";
@import "imports/sections";
@import "imports/footer";
@import "imports/palettes";
@import "imports/banner";
